<!-- (14)参考様式第6号(持込機械等(電動工具電気溶接機等)使用届) -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<body style="font-family: Noto Sans JP, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;">
  <div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="height: 12px">
          <th id="833515888R0" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">1</div>
          </th>
          <td class="s0"></td>
          <td class="s1" colspan="11"></td>
          <td class="s0" colspan="65"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R1" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">2</div>
          </th>
          <td class="s2" rowspan="2"></td>
          <td class="s3" colspan="11" rowspan="2">参考様式第６号</td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s5" dir="ltr" colspan="9" rowspan="2">「提出日（西暦）」14-001</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s7" colspan="9" rowspan="7"></td>
          <td class="s4" colspan="21" rowspan="4"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R2" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">3</div>
          </th>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s4"></td>
          <td class="s6" colspan="6" rowspan="3">持込時の点検表</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R3" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">4</div>
          </th>
          <td class="s0" rowspan="41"></td>
          <td class="s4" colspan="7" rowspan="11"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s4"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s9"></td>
          <td class="s10"></td>
          <td class="s10"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4" colspan="9" rowspan="11"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s4"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R4" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">5</div>
          </th>
          <td class="s6"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s4"></td>
          <td class="s11" colspan="7" rowspan="3">電動工具</td>
          <td class="s10" colspan="2" rowspan="6">等</td>
          <td class="s4"></td>
          <td class="s6"></td>
          <td class="s10"></td>
          <td class="s10"></td>
          <td class="s10"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s4"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R5" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">6</div>
          </th>
          <td class="s12" colspan="6" rowspan="4">持込機械等</td>
          <td class="s4" rowspan="5"></td>
          <td class="s10" rowspan="5"></td>
          <td class="s13" colspan="4" rowspan="4">使用届</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s14" colspan="6" rowspan="3"></td>
          <td class="s1" colspan="2" rowspan="3">点検</td>
          <td class="s15" dir="ltr" colspan="11" rowspan="3">「点検年月日」14-021</td>
          <td class="s4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R6" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">7</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R7" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">8</div>
          </th>
          <td class="s11" colspan="7" rowspan="3">電気溶接機</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R8" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">9</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s3" colspan="28" rowspan="5">電 動 工 具 ・ 電 気 溶 接 機 等</td>
          <td class="s17" colspan="8" rowspan="2">機 械 名</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R9" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">10</div>
          </th>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s8"></td>
          <td class="s10" colspan="4" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R10" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">11</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> １）電動カンナ</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R11" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">12</div>
          </th>
          <td class="s6" colspan="13" rowspan="3"></td>
          <td class="s6" colspan="8" rowspan="3"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R12" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">13</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> ２）電動ドリル</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R13" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">14</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s19" colspan="3" rowspan="3">番号</td>
          <td class="s3" colspan="2" rowspan="5">1</td>
          <td class="s3" colspan="2" rowspan="5">2</td>
          <td class="s3" colspan="2" rowspan="5">3</td>
          <td class="s3" colspan="2" rowspan="5">4</td>
          <td class="s3" colspan="2" rowspan="5">5</td>
          <td class="s3" colspan="2" rowspan="5">6</td>
          <td class="s3" colspan="2" rowspan="5">7</td>
          <td class="s3" colspan="2" rowspan="5">8</td>
          <td class="s3" colspan="2" rowspan="5">9</td>
          <td class="s3" colspan="2" rowspan="5">10</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R14" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">15</div>
          </th>
          <td class="s20" colspan="5"></td>
          <td class="s15" dir="ltr" colspan="13" rowspan="4">「事業所名（現場名）」14-002</td>
          <td class="s4" colspan="2" rowspan="4"></td>
          <td class="s21" colspan="5" rowspan="4">一次会社名</td>
          <td class="s15" dir="ltr" colspan="12" rowspan="4">「一次会社名」14-004</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s18" colspan="8" rowspan="2"> ３）電動丸のこ<br></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R15" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">16</div>
          </th>
          <td class="s20" colspan="5" rowspan="3">事業所の名称</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s14" colspan="4" rowspan="3">点検事項</td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R16" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">17</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s0"></td>
          <td class="s2"></td>
          <td class="s18" colspan="8" rowspan="2"> ４）グラインダー等</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R17" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">18</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s3"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R18" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">19</div>
          </th>
          <td class="s6" colspan="5" rowspan="3"></td>
          <td class="s6" colspan="13" rowspan="2"></td>
          <td class="s4" colspan="2" rowspan="2"></td>
          <td class="s6" colspan="17" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">アース線</td>
          <td class="s23" dir="ltr" colspan="2" rowspan="3">14-028</td>
          <td class="s23" colspan="2" rowspan="3">14-052</td>
          <td class="s23" colspan="2" rowspan="3">14-076</td>
          <td class="s23" colspan="2" rowspan="3">14-100</td>
          <td class="s23" colspan="2" rowspan="3">14-124</td>
          <td class="s23" colspan="2" rowspan="3">14-148</td>
          <td class="s23" colspan="2" rowspan="3">14-172</td>
          <td class="s23" colspan="2" rowspan="3">14-196</td>
          <td class="s23" colspan="2" rowspan="3">14-220</td>
          <td class="s23" colspan="2" rowspan="3">14-244</td>
          <td class="s18" colspan="8" rowspan="2"> ５）アーク溶接機</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R19" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">20</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R20" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">21</div>
          </th>
          <td class="s24" dir="ltr" colspan="11" rowspan="4">「各会社の現場代理人名」14-003</td>
          <td class="s21" colspan="2" rowspan="4">殿</td>
          <td class="s4" colspan="2" rowspan="4"></td>
          <td class="s0" colspan="5" rowspan="2">持込会社名</td>
          <td class="s15" dir="ltr" colspan="12" rowspan="4">「会社名」14-006</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> ６）ウインチ</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R21" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">22</div>
          </th>
          <td class="s20" colspan="5" rowspan="3">所 長 名</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s25" colspan="8" rowspan="3">接地クランプ</td>
          <td class="s23" colspan="2" rowspan="3">14-029</td>
          <td class="s23" colspan="2" rowspan="3">14-053</td>
          <td class="s23" colspan="2" rowspan="3">14-077</td>
          <td class="s23" colspan="2" rowspan="3">14-101</td>
          <td class="s23" colspan="2" rowspan="3">14-125</td>
          <td class="s23" colspan="2" rowspan="3">14-149</td>
          <td class="s23" colspan="2" rowspan="3">14-173</td>
          <td class="s23" colspan="2" rowspan="3">14-197</td>
          <td class="s23" colspan="2" rowspan="3">14-221</td>
          <td class="s23" colspan="2" rowspan="3">14-245</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R22" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">23</div>
          </th>
          <td class="s1" rowspan="2">（</td>
          <td class="s26" dir="ltr" colspan="2" rowspan="2">14-005</td>
          <td class="s1" rowspan="2">次</td>
          <td class="s1" rowspan="2">）</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" dir="ltr" colspan="8" rowspan="2"> ７）発電機</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R23" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">24</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R24" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">25</div>
          </th>
          <td class="s6" colspan="5" rowspan="12"></td>
          <td class="s6" colspan="13" rowspan="12"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="17" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">キャップタイヤ</td>
          <td class="s23" colspan="2" rowspan="3">14-030</td>
          <td class="s23" colspan="2" rowspan="3">14-054</td>
          <td class="s23" colspan="2" rowspan="3">14-078</td>
          <td class="s23" colspan="2" rowspan="3">14-102</td>
          <td class="s23" colspan="2" rowspan="3">14-126</td>
          <td class="s23" colspan="2" rowspan="3">14-150</td>
          <td class="s23" colspan="2" rowspan="3">14-174</td>
          <td class="s23" colspan="2" rowspan="3">14-198</td>
          <td class="s23" colspan="2" rowspan="3">14-222</td>
          <td class="s23" colspan="2" rowspan="3">14-246</td>
          <td class="s18" colspan="8" rowspan="2"> ８）トランス</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R25" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">26</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R26" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">27</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s21" colspan="5" rowspan="4">代 表 者 名</td>
          <td class="s15" dir="ltr" colspan="10" rowspan="4">「代表者名」14-007</td>
          <td class="s27" dir="ltr" colspan="2" rowspan="4">㊞14-268</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> ９）コンプレッサー</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R27" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">28</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">コネクタ</td>
          <td class="s23" colspan="2" rowspan="3">14-031</td>
          <td class="s23" colspan="2" rowspan="3">14-055</td>
          <td class="s23" colspan="2" rowspan="3">14-079</td>
          <td class="s23" colspan="2" rowspan="3">14-103</td>
          <td class="s23" colspan="2" rowspan="3">14-127</td>
          <td class="s23" colspan="2" rowspan="3">14-151</td>
          <td class="s23" colspan="2" rowspan="3">14-175</td>
          <td class="s23" colspan="2" rowspan="3">14-199</td>
          <td class="s23" colspan="2" rowspan="3">14-223</td>
          <td class="s23" colspan="2" rowspan="3">14-247</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R28" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">29</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 10）送風機</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R29" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">30</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R30" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">31</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="17" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">接地端子の締結</td>
          <td class="s23" colspan="2" rowspan="3">14-032</td>
          <td class="s23" colspan="2" rowspan="3">14-056</td>
          <td class="s23" colspan="2" rowspan="3">14-080</td>
          <td class="s23" colspan="2" rowspan="3">14-104</td>
          <td class="s23" colspan="2" rowspan="3">14-128</td>
          <td class="s23" colspan="2" rowspan="3">14-152</td>
          <td class="s23" colspan="2" rowspan="3">14-176</td>
          <td class="s23" colspan="2" rowspan="3">14-200</td>
          <td class="s23" colspan="2" rowspan="3">14-224</td>
          <td class="s23" colspan="2" rowspan="3">14-248</td>
          <td class="s18" colspan="8" rowspan="2"> 11）ポンプ類</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R31" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">32</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R32" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">33</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s21" colspan="5" rowspan="4">電　　話</td>
          <td class="s15" dir="ltr" colspan="12" rowspan="4">「電話番号」14-008</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 12）ミキサー類</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R33" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">34</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">充電部の絶縁</td>
          <td class="s23" colspan="2" rowspan="3">14-033</td>
          <td class="s23" colspan="2" rowspan="3">14-057</td>
          <td class="s23" colspan="2" rowspan="3">14-081</td>
          <td class="s23" colspan="2" rowspan="3">14-105</td>
          <td class="s23" colspan="2" rowspan="3">14-129</td>
          <td class="s23" colspan="2" rowspan="3">14-153</td>
          <td class="s23" colspan="2" rowspan="3">14-177</td>
          <td class="s23" colspan="2" rowspan="3">14-201</td>
          <td class="s23" colspan="2" rowspan="3">14-225</td>
          <td class="s23" colspan="2" rowspan="3">14-249</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R34" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">35</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 13）コンベヤー</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R35" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">36</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R36" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">37</div>
          </th>
          <td class="s6" colspan="37" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">自動電撃防止装置</td>
          <td class="s23" colspan="2" rowspan="3">14-034</td>
          <td class="s23" colspan="2" rowspan="3">14-058</td>
          <td class="s23" colspan="2" rowspan="3">14-082</td>
          <td class="s23" colspan="2" rowspan="3">14-106</td>
          <td class="s23" colspan="2" rowspan="3">14-130</td>
          <td class="s23" colspan="2" rowspan="3">14-154</td>
          <td class="s23" colspan="2" rowspan="3">14-178</td>
          <td class="s23" colspan="2" rowspan="3">14-202</td>
          <td class="s23" colspan="2" rowspan="3">14-226</td>
          <td class="s23" colspan="2" rowspan="3">14-250</td>
          <td class="s18" colspan="8" rowspan="2"> 14）吹付機</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R37" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">38</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R38" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">39</div>
          </th>
          <td class="s4" colspan="37" rowspan="2">このたび、下記機械等を裏面の点検表により、点検整備のうえ持込・使用しますので、お届けします。</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 15）ボーリングマシン</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R39" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">40</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">絶縁ホルダー</td>
          <td class="s23" colspan="2" rowspan="3">14-035</td>
          <td class="s23" colspan="2" rowspan="3">14-059</td>
          <td class="s23" colspan="2" rowspan="3">14-083</td>
          <td class="s23" colspan="2" rowspan="3">14-107</td>
          <td class="s23" colspan="2" rowspan="3">14-131</td>
          <td class="s23" colspan="2" rowspan="3">14-155</td>
          <td class="s23" colspan="2" rowspan="3">14-179</td>
          <td class="s23" colspan="2" rowspan="3">14-203</td>
          <td class="s23" colspan="2" rowspan="3">14-227</td>
          <td class="s23" colspan="2" rowspan="3">14-251</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R40" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">41</div>
          </th>
          <td class="s4" colspan="37" rowspan="2">なお、使用に際しては関係法令に定められた事項を遵守します。</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 16）振動コンパクター</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R41" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">42</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R42" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">43</div>
          </th>
          <td class="s1" colspan="37" rowspan="2">記</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">溶接保護面</td>
          <td class="s23" colspan="2" rowspan="3">14-036</td>
          <td class="s23" colspan="2" rowspan="3">14-060</td>
          <td class="s23" colspan="2" rowspan="3">14-084</td>
          <td class="s23" colspan="2" rowspan="3">14-108</td>
          <td class="s23" colspan="2" rowspan="3">14-132</td>
          <td class="s23" colspan="2" rowspan="3">14-156</td>
          <td class="s23" colspan="2" rowspan="3">14-180</td>
          <td class="s23" colspan="2" rowspan="3">14-204</td>
          <td class="s23" colspan="2" rowspan="3">14-228</td>
          <td class="s23" colspan="2" rowspan="3">14-252</td>
          <td class="s18" colspan="8" rowspan="2"> 17）バイブレーター</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R43" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">44</div>
          </th>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R44" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">45</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">番号</td>
          <td class="s3" colspan="9" rowspan="4">機 械 名</td>
          <td class="s2" colspan="7" rowspan="2">規 格</td>
          <td class="s2" colspan="4" rowspan="2">管理番号</td>
          <td class="s2" colspan="7" rowspan="2">持 込 年 月 日</td>
          <td class="s3" colspan="4" rowspan="4">点 検 者</td>
          <td class="s3" colspan="4" rowspan="4">取 扱 者</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" dir="ltr" colspan="8" rowspan="2"> 18）鉄筋加工機</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R45" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">46</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">操作スイッチ</td>
          <td class="s23" colspan="2" rowspan="3">14-037</td>
          <td class="s23" colspan="2" rowspan="3">14-061</td>
          <td class="s23" colspan="2" rowspan="3">14-085</td>
          <td class="s23" colspan="2" rowspan="3">14-109</td>
          <td class="s23" colspan="2" rowspan="3">14-133</td>
          <td class="s23" colspan="2" rowspan="3">14-157</td>
          <td class="s23" colspan="2" rowspan="3">14-181</td>
          <td class="s23" colspan="2" rowspan="3">14-205</td>
          <td class="s23" colspan="2" rowspan="3">14-229</td>
          <td class="s23" colspan="2" rowspan="3">14-253</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R46" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">47</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="7" rowspan="2">性 能</td>
          <td class="s3" colspan="4" rowspan="2">受付番号</td>
          <td class="s3" colspan="7" rowspan="2">搬出予定年月日</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"> 19）電動チェーンブロック</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R47" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">48</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R48" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">49</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">1</td>
          <td class="s28" dir="ltr" colspan="9" rowspan="4">「使用する機械名」14-009</td>
          <td class="s29" dir="ltr" colspan="7" rowspan="4">「 規格・性能」14-010</td>
          <td class="s30" dir="ltr" colspan="4" rowspan="2">「管理番号(提出会社が記載)」14-011</td>
          <td class="s31" dir="ltr" colspan="7" rowspan="2">「持込年月日」14-013</td>
          <td class="s29" dir="ltr" colspan="4" rowspan="4">「点検者」14-015</td>
          <td class="s29" dir="ltr" colspan="4" rowspan="4">「取扱者」14-016</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">絶縁抵抗測定値</td>
          <td class="s23" colspan="2" rowspan="3">14-038</td>
          <td class="s23" colspan="2" rowspan="3">14-062</td>
          <td class="s23" colspan="2" rowspan="3">14-086</td>
          <td class="s23" colspan="2" rowspan="3">14-110</td>
          <td class="s23" colspan="2" rowspan="3">14-134</td>
          <td class="s23" colspan="2" rowspan="3">14-158</td>
          <td class="s23" colspan="2" rowspan="3">14-182</td>
          <td class="s23" colspan="2" rowspan="3">14-206</td>
          <td class="s23" colspan="2" rowspan="3">14-230</td>
          <td class="s23" colspan="2" rowspan="3">14-254</td>
          <td class="s18" dir="ltr" colspan="8" rowspan="2"> 20）その他</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R49" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">50</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R50" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">51</div>
          </th>
          <td class="s2"></td>
          <td class="s30" dir="ltr" colspan="4" rowspan="2">「受付番号(元請会社が記載)」14-012</td>
          <td class="s32" dir="ltr" colspan="7" rowspan="2">「搬出予定年月日」14-014</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s18" colspan="8" rowspan="2"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R51" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">52</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">各種ブレーキの作動</td>
          <td class="s23" colspan="2" rowspan="3">14-039</td>
          <td class="s23" colspan="2" rowspan="3">14-063</td>
          <td class="s23" colspan="2" rowspan="3">14-087</td>
          <td class="s23" colspan="2" rowspan="3">14-111</td>
          <td class="s23" colspan="2" rowspan="3">14-135</td>
          <td class="s23" colspan="2" rowspan="3">14-159</td>
          <td class="s23" colspan="2" rowspan="3">14-183</td>
          <td class="s23" colspan="2" rowspan="3">14-207</td>
          <td class="s23" colspan="2" rowspan="3">14-231</td>
          <td class="s23" colspan="2" rowspan="3">14-255</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R52" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">53</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">2</td>
          <td class="s31" colspan="9" rowspan="4">仕様書・持込機械等（電動工具/電気溶接等）使用届の機械名</td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s34" colspan="8" rowspan="41"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R53" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">54</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R54" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">55</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">手すり・囲い</td>
          <td class="s23" colspan="2" rowspan="3">14-040</td>
          <td class="s23" colspan="2" rowspan="3">14-064</td>
          <td class="s23" colspan="2" rowspan="3">14-088</td>
          <td class="s23" colspan="2" rowspan="3">14-112</td>
          <td class="s23" colspan="2" rowspan="3">14-136</td>
          <td class="s23" colspan="2" rowspan="3">14-160</td>
          <td class="s23" colspan="2" rowspan="3">14-184</td>
          <td class="s23" colspan="2" rowspan="3">14-208</td>
          <td class="s23" colspan="2" rowspan="3">14-232</td>
          <td class="s23" colspan="2" rowspan="3">14-256</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R55" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">56</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R56" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">57</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">3</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R57" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">58</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">フックのはずれ止め</td>
          <td class="s23" colspan="2" rowspan="3">14-041</td>
          <td class="s23" colspan="2" rowspan="3">14-065</td>
          <td class="s23" colspan="2" rowspan="3">14-089</td>
          <td class="s23" colspan="2" rowspan="3">14-113</td>
          <td class="s23" colspan="2" rowspan="3">14-137</td>
          <td class="s23" colspan="2" rowspan="3">14-161</td>
          <td class="s23" colspan="2" rowspan="3">14-185</td>
          <td class="s23" colspan="2" rowspan="3">14-209</td>
          <td class="s23" colspan="2" rowspan="3">14-233</td>
          <td class="s23" colspan="2" rowspan="3">14-257</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R58" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">59</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R59" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">60</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R60" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">61</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">4</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">ワイヤロープ･チェーン</td>
          <td class="s23" colspan="2" rowspan="3">14-042</td>
          <td class="s23" colspan="2" rowspan="3">14-066</td>
          <td class="s23" colspan="2" rowspan="3">14-090</td>
          <td class="s23" colspan="2" rowspan="3">14-114</td>
          <td class="s23" colspan="2" rowspan="3">14-138</td>
          <td class="s23" colspan="2" rowspan="3">14-162</td>
          <td class="s23" colspan="2" rowspan="3">14-186</td>
          <td class="s23" colspan="2" rowspan="3">14-210</td>
          <td class="s23" colspan="2" rowspan="3">14-234</td>
          <td class="s23" colspan="2" rowspan="3">14-258</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R61" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">62</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R62" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">63</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R63" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">64</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">滑車</td>
          <td class="s23" colspan="2" rowspan="3">14-043</td>
          <td class="s23" colspan="2" rowspan="3">14-067</td>
          <td class="s23" colspan="2" rowspan="3">14-091</td>
          <td class="s23" colspan="2" rowspan="3">14-115</td>
          <td class="s23" colspan="2" rowspan="3">14-139</td>
          <td class="s23" colspan="2" rowspan="3">14-163</td>
          <td class="s23" colspan="2" rowspan="3">14-187</td>
          <td class="s23" colspan="2" rowspan="3">14-211</td>
          <td class="s23" colspan="2" rowspan="3">14-235</td>
          <td class="s23" colspan="2" rowspan="3">14-259</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R64" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">65</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">5</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R65" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">66</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R66" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">67</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">回転部の囲い等</td>
          <td class="s23" colspan="2" rowspan="3">14-044</td>
          <td class="s23" colspan="2" rowspan="3">14-068</td>
          <td class="s23" colspan="2" rowspan="3">14-092</td>
          <td class="s23" colspan="2" rowspan="3">14-116</td>
          <td class="s23" colspan="2" rowspan="3">14-140</td>
          <td class="s23" colspan="2" rowspan="3">14-164</td>
          <td class="s23" colspan="2" rowspan="3">14-188</td>
          <td class="s23" colspan="2" rowspan="3">14-212</td>
          <td class="s23" colspan="2" rowspan="3">14-236</td>
          <td class="s23" colspan="2" rowspan="3">14-260</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R67" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">68</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R68" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">69</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">6</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R69" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">70</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s22" colspan="8" rowspan="3">危険表示</td>
          <td class="s23" colspan="2" rowspan="3">14-045</td>
          <td class="s23" colspan="2" rowspan="3">14-069</td>
          <td class="s23" colspan="2" rowspan="3">14-093</td>
          <td class="s23" colspan="2" rowspan="3">14-117</td>
          <td class="s23" colspan="2" rowspan="3">14-141</td>
          <td class="s23" colspan="2" rowspan="3">14-165</td>
          <td class="s23" colspan="2" rowspan="3">14-189</td>
          <td class="s23" colspan="2" rowspan="3">14-213</td>
          <td class="s23" colspan="2" rowspan="3">14-237</td>
          <td class="s23" colspan="2" rowspan="3">14-261</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R70" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">71</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R71" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">72</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R72" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">73</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">7</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s3" colspan="28" rowspan="3">その他</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R73" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">74</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R74" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">75</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R75" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">76</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-022</td>
          <td class="s23" colspan="2" rowspan="3">14-046</td>
          <td class="s23" colspan="2" rowspan="3">14-070</td>
          <td class="s23" colspan="2" rowspan="3">14-094</td>
          <td class="s23" colspan="2" rowspan="3">14-118</td>
          <td class="s23" colspan="2" rowspan="3">14-142</td>
          <td class="s23" colspan="2" rowspan="3">14-166</td>
          <td class="s23" colspan="2" rowspan="3">14-190</td>
          <td class="s23" colspan="2" rowspan="3">14-214</td>
          <td class="s23" colspan="2" rowspan="3">14-238</td>
          <td class="s23" colspan="2" rowspan="3">14-262</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R76" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">77</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">8</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R77" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">78</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R78" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">79</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-023</td>
          <td class="s23" colspan="2" rowspan="3">14-047</td>
          <td class="s23" colspan="2" rowspan="3">14-071</td>
          <td class="s23" colspan="2" rowspan="3">14-095</td>
          <td class="s23" colspan="2" rowspan="3">14-119</td>
          <td class="s23" colspan="2" rowspan="3">14-143</td>
          <td class="s23" colspan="2" rowspan="3">14-167</td>
          <td class="s23" colspan="2" rowspan="3">14-191</td>
          <td class="s23" colspan="2" rowspan="3">14-215</td>
          <td class="s23" colspan="2" rowspan="3">14-239</td>
          <td class="s23" colspan="2" rowspan="3">14-263</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R79" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">80</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R80" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">81</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">9</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R81" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">82</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-024</td>
          <td class="s23" colspan="2" rowspan="3">14-048</td>
          <td class="s23" colspan="2" rowspan="3">14-072</td>
          <td class="s23" colspan="2" rowspan="3">14-096</td>
          <td class="s23" colspan="2" rowspan="3">14-120</td>
          <td class="s23" colspan="2" rowspan="3">14-144</td>
          <td class="s23" colspan="2" rowspan="3">14-168</td>
          <td class="s23" colspan="2" rowspan="3">14-192</td>
          <td class="s23" colspan="2" rowspan="3">14-216</td>
          <td class="s23" colspan="2" rowspan="3">14-240</td>
          <td class="s23" colspan="2" rowspan="3">14-264</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R82" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">83</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R83" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">84</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R84" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">85</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="2" rowspan="4">10</td>
          <td class="s33" colspan="9" rowspan="4"></td>
          <td class="s28" colspan="7" rowspan="4"></td>
          <td class="s28" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s33" colspan="4" rowspan="4"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-025</td>
          <td class="s23" colspan="2" rowspan="3">14-049</td>
          <td class="s23" colspan="2" rowspan="3">14-073</td>
          <td class="s23" colspan="2" rowspan="3">14-097</td>
          <td class="s23" colspan="2" rowspan="3">14-121</td>
          <td class="s23" colspan="2" rowspan="3">14-145</td>
          <td class="s23" colspan="2" rowspan="3">14-169</td>
          <td class="s23" colspan="2" rowspan="3">14-193</td>
          <td class="s23" colspan="2" rowspan="3">14-217</td>
          <td class="s23" colspan="2" rowspan="3">14-241</td>
          <td class="s23" colspan="2" rowspan="3">14-265</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R85" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">86</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R86" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">87</div>
          </th>
          <td class="s2"></td>
          <td class="s33" colspan="4" rowspan="2"></td>
          <td class="s28" colspan="7" rowspan="2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R87" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">88</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-026</td>
          <td class="s23" colspan="2" rowspan="3">14-050</td>
          <td class="s23" colspan="2" rowspan="3">14-074</td>
          <td class="s23" colspan="2" rowspan="3">14-098</td>
          <td class="s23" colspan="2" rowspan="3">14-122</td>
          <td class="s23" colspan="2" rowspan="3">14-146</td>
          <td class="s23" colspan="2" rowspan="3">14-170</td>
          <td class="s23" colspan="2" rowspan="3">14-194</td>
          <td class="s23" colspan="2" rowspan="3">14-218</td>
          <td class="s23" colspan="2" rowspan="3">14-242</td>
          <td class="s23" colspan="2" rowspan="3">14-266</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R88" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">89</div>
          </th>
          <td class="s2"></td>
          <td class="s22" colspan="11" rowspan="8">機械の特性、その他<br> その使用上注意すべき<br> 事項</td>
          <td class="s35" dir="ltr" colspan="26" rowspan="8">「機械の特性・使用上注意すべき事項」14-017</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R89" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">90</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R90" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">91</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
          <td class="s31" dir="ltr" colspan="8" rowspan="3">「点検事項（追加項目）」14-027</td>
          <td class="s23" colspan="2" rowspan="3">14-051</td>
          <td class="s23" colspan="2" rowspan="3">14-075</td>
          <td class="s23" colspan="2" rowspan="3">14-099</td>
          <td class="s23" colspan="2" rowspan="3">14-123</td>
          <td class="s23" colspan="2" rowspan="3">14-147</td>
          <td class="s23" colspan="2" rowspan="3">14-171</td>
          <td class="s23" colspan="2" rowspan="3">14-195</td>
          <td class="s23" colspan="2" rowspan="3">14-219</td>
          <td class="s23" colspan="2" rowspan="3">14-243</td>
          <td class="s23" colspan="2" rowspan="3">14-267</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R91" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">92</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R92" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">93</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s16"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R93" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">94</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s0" colspan="36"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R94" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">95</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s0" colspan="2" rowspan="2">(注)</td>
          <td class="s6" colspan="34" rowspan="2">１．持込機械等の届出は、当該機械を持ち込む会社（貸与を受けた会社が下請の場合はその会社）の</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R95" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">96</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R96" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">97</div>
          </th>
          <td class="s2"></td>
          <td class="s3" colspan="22" rowspan="3">元 請 確 認 欄</td>
          <td class="s3" colspan="15" rowspan="3">受 付 確 認 者</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="2" rowspan="8"></td>
          <td class="s6" colspan="34" rowspan="2">代表者が所長に届け出ること。</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R97" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">98</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R98" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">99</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="34" rowspan="2">２．点検表の点検結果欄には、該当する箇所へ✔印を記入すること。</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R99" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">100</div>
          </th>
          <td class="s2"></td>
          <td class="s36" colspan="2" rowspan="5">担<br>当<br>者</td>
          <td class="s28" dir="ltr" colspan="20" rowspan="5">「元請会社の確認欄」14-018</td>
          <td class="s29" dir="ltr" colspan="7" rowspan="5">「元請会社の受付確認年月日」14-019</td>
          <td class="s28" dir="ltr" colspan="8" rowspan="5">㊞14-020</td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R100" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">101</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="34" rowspan="2">３．絶縁抵抗の測定については、測定値（ＭΩ）を記入すること。</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R101" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">102</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R102" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">103</div>
          </th>
          <td class="s2"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6"></td>
          <td class="s6" colspan="34" rowspan="2">４．持込機械届受理証を持込機械に貼付すること。</td>
        </tr>
        <tr style="height: 12px">
          <th id="833515888R103" style="height: 12px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 12px">104</div>
          </th>
          <td class="s2"></td>
          <td class="s4"></td>
          <td class="s4"></td>
          <td class="s4"></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

<style>
.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .s10 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s18 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s19 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s22 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s17 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s34 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s27 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s25 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s8 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s14 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s21 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s24 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s3 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s35 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: top;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s11 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s23 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s33 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s6 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s15 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s30 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s31 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s4 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s36 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s13 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s26 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s28 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s12 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: right;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s1 {
  border-top: 1px SOLID #ffffff;
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s16 {
  border-top: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s5 {
  border: 1px SOLID #ffffff;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s7 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s20 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s0 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s9 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s32 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s2 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .s29 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

</style>
