<!-- (20)参考様式第3号(年間安全衛生計画書) -->
<div id="doc_20_sheet">
  <div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
      <tbody>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s4"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="6">参考様式第３号</td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s7"></td>
          <td class="doc_20_s6" colspan="2" rowspan="2">元 請<br> 確認欄</td>
          <td class="doc_20_s8" colspan="9" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s47" dir="ltr" colspan="20">※ 緑枠は入力項目です。必要あれば入力してください。</td>
          <td class="doc_20_s0" dir="ltr"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s7"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9" colspan="4" rowspan="2">事業所の名称</td>
          <td class="doc_20_s10" colspan="9" rowspan="2"><%= document_site_info.site_name %></td><!-- 20-002「事業所名(現場名)」-->
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s9" colspan="3" rowspan="2">会社名</td>
          <td class="doc_20_s10" colspan="10" rowspan="2"><%= Business.find(document_info.business_id).name %></td><!-- 20-004「会社名」-->
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s9"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s11"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s9"></td>
          <td class="doc_20_s9" colspan="4" rowspan="2">所長名</td>
          <td class="doc_20_s12" colspan="8" rowspan="2"><%= document_site_info.site_agent_name %></td><!--20-003「元請会社の「現場代理人名」」-->
          <td class="doc_20_s13" rowspan="2">殿</td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s9" colspan="3" rowspan="2">代表者名</td>
          <td class="doc_20_s10" colspan="9" rowspan="2"><%= Business.find(document_info.business_id).representative_name %></td><!--20-005「代表者名」-->
          <td class="doc_20_s14" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s9"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s15"></td>
          <td class="doc_20_s15"></td>
          <td class="doc_20_s15"></td>
          <td class="doc_20_s15"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s16"></td>
          <td class="doc_20_s16"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s16"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s16"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s0"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s15" colspan="4"></td>
          <td class="doc_20_s46" colspan="8" rowspan="2"></td>
          <td class="doc_20_s13" colspan="2" rowspan="2">作成</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s2"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s19" colspan="7" rowspan="2"></td>
          <td class="doc_20_s20" colspan="2" rowspan="2">年度</td>
          <td class="doc_20_s20" rowspan="2">（</td>
          <td class="doc_20_s21" colspan="4" rowspan="2"></td>
          <td class="doc_20_s20" rowspan="2">～</td>
          <td class="doc_20_s21" colspan="4" rowspan="2"></td>
          <td class="doc_20_s20" rowspan="2">）</td>
          <td class="doc_20_s22" colspan="6" rowspan="2">安全衛生計画書</td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s18"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s22"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="7" rowspan="2">安 全 衛 生 方 針</td>
          <td class="doc_20_s23" colspan="33" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="7" rowspan="2">安 全 衛 生 目 標</td>
          <td class="doc_20_s23" colspan="33" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="40">安全衛生上の課題及び特定した危険性又は有害性</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s24"></td>
          <td class="doc_20_s23" colspan="40" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s24"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="40">安 全 衛 生 計 画</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="5" rowspan="2">重点施策</td>
          <td class="doc_20_s6" colspan="5" rowspan="2">実施事項</td>
          <td class="doc_20_s6" colspan="5" rowspan="2">管理目標<br> （管理点）</td>
          <td class="doc_20_s6" colspan="5" rowspan="2">実施担当</td>
          <td class="doc_20_s6" colspan="16">実施スケジュールと評価スケジュール</td>
          <td class="doc_20_s6" colspan="4" rowspan="2">実施上の留意点</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="4">4月～6月</td>
          <td class="doc_20_s6" colspan="4">7月～9月</td>
          <td class="doc_20_s6" colspan="4">10月～12月</td>
          <td class="doc_20_s6" colspan="4">1月～3月</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s25"></td>
          <td class="doc_20_s26" colspan="5" rowspan="3"></td>
          <td class="doc_20_s26" colspan="5" rowspan="3"></td>
          <td class="doc_20_s26" colspan="5" rowspan="3"></td>
          <td class="doc_20_s26" colspan="5" rowspan="3"></td>
          <td class="doc_20_s27" colspan="4" rowspan="2"></td>
          <td class="doc_20_s27" colspan="4" rowspan="2"></td>
          <td class="doc_20_s27" colspan="4" rowspan="2"></td>
          <td class="doc_20_s28" colspan="4" rowspan="2"></td>
          <td class="doc_20_s26" colspan="4" rowspan="3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s25"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s25"></td>
          <td class="doc_20_s26" colspan="16"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s31" colspan="4" rowspan="2"></td>
          <td class="doc_20_s31" colspan="4" rowspan="2"></td>
          <td class="doc_20_s31" colspan="4" rowspan="2"></td>
          <td class="doc_20_s32" colspan="4" rowspan="2"></td>
          <td class="doc_20_s30" colspan="4" rowspan="3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s33" colspan="16"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s35" colspan="4" rowspan="2"></td>
          <td class="doc_20_s30" colspan="4" rowspan="3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s30" colspan="16"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s30" colspan="5" rowspan="3"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s34" colspan="4" rowspan="2"></td>
          <td class="doc_20_s35" colspan="4" rowspan="2"></td>
          <td class="doc_20_s30" colspan="4" rowspan="3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s29"></td>
          <td class="doc_20_s30" colspan="16"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="40">作業所共通の重点施策・実施事項</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="5">重点対策</td>
          <td class="doc_20_s6" colspan="15">実施事項</td>
          <td class="doc_20_s6" colspan="5">重点対策</td>
          <td class="doc_20_s6" colspan="15">実施事項</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s36"></td>
          <td class="doc_20_s37" colspan="5" rowspan="3"></td>
          <td class="doc_20_s23" colspan="15"></td>
          <td class="doc_20_s38" colspan="5" rowspan="3"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s36"></td>
          <td class="doc_20_s23" colspan="15"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s36"></td>
          <td class="doc_20_s23" colspan="15"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s40"></td>
          <td class="doc_20_s38" colspan="5" rowspan="3"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s38" colspan="5" rowspan="3"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s40"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s41" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s40"></td>
          <td class="doc_20_s39" colspan="15"></td>
          <td class="doc_20_s41" colspan="15"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="40">安 全 衛 生 行 事</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">４月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">10月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">５月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">11月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">６月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">12月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">７月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">１月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">８月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">２月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="2">９月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s6" colspan="2">３月</td>
          <td class="doc_20_s23" colspan="18"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s17"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="40">安 全 衛 生 管 理 体 制</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="14">管 理 者 区 分</td>
          <td class="doc_20_s6" colspan="13">役 職 名</td>
          <td class="doc_20_s6" colspan="13">氏 名</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">安全衛生担当役員</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">雇用管理責任者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">総括安全衛生管理者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">安全管理者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">衛生管理者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">安全衛生推進者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s7"></td>
          <td class="doc_20_s42" colspan="14">工事担当責任者</td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s23" colspan="13"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s43"></td>
          <td class="doc_20_s44" colspan="2" rowspan="3"></td>
          <td class="doc_20_s6" colspan="6" rowspan="3">＜摘要＞</td>
          <td class="doc_20_s17" colspan="16" rowspan="3">・常時100人以上の労働者を使用するとき<br> ・常時50人以上の労働者を使用するとき<br>
            ・常時10人以上50人未満の労働者を使用するとき</td>
          <td class="doc_20_s17" colspan="2" rowspan="3">→<br> →<br> →</td>
          <td class="doc_20_s42" colspan="14" rowspan="3">総括安全衛生管理者を選任<br> 安全管理者、衛生管理者、産業医を選任<br> 安全衛生推進者（又は衛生推進者）を選任</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s43"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s43"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s0"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s1"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s6" colspan="5" rowspan="2">特記事項</td>
          <td class="doc_20_s45" colspan="35" rowspan="2"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s5"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3" colspan="40" rowspan="2">
            注１）この書式は参考書式なので、自社が定めた書式を使うことで、差し支えありません。<br>注２）労働安全衛生マネジメントシステムに関する指針を参考にして下さい。</td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
        <tr style="height: 24px">
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
          <td class="doc_20_s3"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
