<% provide(:title,  "書類一覧") %>
<%= link_to "pdf", pdf_download_users_request_order_document_path("a16bf63f-bd54-4314-8dc1-bd115b08d37f", "e7f481ea-3802-422f-b2ad-c5740603dd60"), format: :pdf %>
<% if @documents.present? %>
  <div class="card">
    <div class="card-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= Document.human_attribute_name(:document_type) %></th>
          </tr>
        </thead>
        <tbody>
          <% @documents.each do |document| %>
            <tr>
              <td align="center">
                <%= link_to document.document_type_i18n,
                            (
                              controller.controller_path == 'users/documents' ?
                              users_request_order_document_path(params[:request_order_uuid], document) :
                              users_request_order_sub_request_order_document_path(params[:request_order_uuid], params[:sub_request_order_uuid], document)
                            )
                %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
