<% provide(:title, "火気情報編集") %>
<% provide(:btn_text, "更新") %>

<div class="card">
  <div class="card-body">
    <%= form_with model: @field_fire, url: users_order_field_fire_path, method: :patch, local: true do |f| %>
      <%= render "form", f: f, field_fire: @field_fire %>

      <%= f.submit yield(:btn_text), class: "btn btn-md btn-block btn-primary" %>
      <%= link_to "現場詳細画面へ", users_order_url(@order), class: "btn btn-md btn-block btn-default" %>
    <% end %>
  </div>
</div>
