<% provide(:title, "現場火気情報詳細") %>

<%= link_to "火気情報新規作成画面へ", new_users_order_field_fire_path, class: "btn btn-lg btn-block btn-outline-primary" %>
<br>
<% if @field_fires.present? %>
  <div class="field_fired">
    <div class="field_fired-body table-responsive p-0">
      <table class="table table-hover text-nowrap">
        <thead>
          <tr align="center">
            <th><%= FieldFire.human_attribute_name(:use_place) %></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @field_fires.each do |field_fire| %>
          <tr align="center">
            <td><%= link_to field_fire.use_place, users_order_field_fire_path(@order, field_fire) %></td>
            <td></td>
            <td><%#= link_to "編集", edit_users_field_fire_path(field_fire), class: "btn btn-md btn-success" %></td>
            <td><%#= link_to "削除", users_field_fire_path(field_fire), method: :delete, data: { confirm: "#{field_fire.vehicle_model}の車両情報を削除します。本当によろしいですか？" }, class: "btn btn-md btn-danger" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
