<table class="table table-sm table-hover text-nowrap">
	<thead>
		<tr>
			<th>No.</th>
			<th>書類名</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
    <% current_user_documents(request_order).each do |current_user_document| %>
      <tr>
        <td>
          <%= current_user_document.document_type_before_type_cast %>
        </td>
        <td>
          <%= current_user_document.document_type_i18n %>
        </td>
        <td>
          <%= link_to '詳細', users_request_order_document_path(@request_order.uuid, current_user_document.uuid) %>
        </td>
        <td>
          <%= link_to 'PDF', users_request_order_document_path(@request_order.uuid, current_user_document.uuid, format: :pdf), target: :_blank, rel: "noopener noreferrer" %>
        </td>
      </tr>
    <% end %>
	</tbody>
</table>
