<table class="table table-sm table-hover text-nowrap">
  <thead>
    <tr>
      <th>No.</th>
      <th>書類名</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% current_lower_second_documents_type(second_request_order).each do |second_document| %>
      <tr>
        <td>
          <%= second_document.document_type_before_type_cast %>
        </td>
        <td>
          <%= second_document.document_type_i18n %>
        </td>
        <td>
          <%= link_to 'PDF', users_request_order_sub_request_order_document_path(@request_order.uuid, second_request_order.uuid, second_document, format: :pdf), target: :_blank, rel: "noopener noreferrer" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
