<p><%= @invitation_user.email %>様</p>
<br>
<p>平素は「建スマ」システムをご利用いただき、誠にありがとうございます。</p>
<p><%= @user.business.name %>様より、協力会社への招待依頼が届いております。</p>
<p>建スマにログイン後、協力会社情報ページより承認の可否をお願い致します。</p>
<br>
<p><%= link_to '建スマ ログイン', @root %></p>
<br>
<p>--------------------------------------------------------------</p>
<p>建スマ</p>
<%= link_to 'お問い合わせはこちらまで', 'https://forms.gle/HbWqbQpd33ZdQAoa7' %>
