@import "bootstrap";
@import "admin-lte";
@import '@fortawesome/fontawesome-free';
@import './users/**';

.hidden{
  display: none;
}

form.cmxform label.error, label.error {
  color: red;
}

.circle {
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 4px;
}
