@import "bootstrap";
// @import "admin-lte";
@import '@fortawesome/fontawesome-free';
@import './users/**';

.hidden{
  display: none;
}

form.cmxform label.error, label.error {
  color: red;
}

.circle {
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 4px;
}

.circle_hankaku_space {
    border: 2px solid #000000;
    border-radius: 25px;
    padding: 4px 10px 4px 10px;
}

.circle_hankaku_number {
  border: 2px solid #000000;
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
}

.square_hankaku_number {
  border: 1px solid #000000;
    padding: 1px 4px;
}

.square_hankaku_space {
  border: 1px solid #000000;
    padding: 1px 6px;
}

.line_through {
  text-decoration: line-through;
}

.step {
  font-size: 120%;
  margin : 20px ;
}

.step_first {
  text-indent: 20px;
  font-size: 120%;
  margin : 20px ;
}

.step_second {
  text-indent: 40px;
  font-size: 120%;
  margin : 20px ;
}

.step_third {
  text-indent: 60px;
  font-size: 120%;
  margin : 20px ;
}

.step_forth {
  text-indent: 80px;
  font-size: 120%;
  margin : 20px ;
}

.text_ind_1 {
  text-indent: 1em;
}

.text_ind_2 {
  text-indent: 2em;
}

// ラジオボタン縦並び

.radio label {
  display: block;
}

.radio input[type="radio"] {
  margin-right: 5px;
}

// ラジオボタン横並び

.radio-container {
  display: flex;
}

.radio-item {
  margin-right: 10px; /* ラジオボタン間の余白を調整 */
}

.error-message {
  display: inline-block;
  margin-left: 10px;
  color: red;
}

// キャリアアップシステムカードの写し
.career-up-card-copy-input {
  width: 30%;
  height: 30%;
}

// キャリアアップシステムカードの写し
.career-up-card-copy-input img {
  width: 30%;
  height: 30%;
  max-width: none;
  height: auto;
}

// 社印
.stamp-images-input {
  width: 30%;
  height: 30%;
}

// 社印
.stamp-images-input img {
  width: 30%;
  height: 30%;
  max-width: none;
  height: auto;
}
