.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .doc_22_s23 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s11 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s16 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s1 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s37 {
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s30 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s35 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s19 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: right;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s42 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s33 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s38 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s12 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s14 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s32 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s18 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s24 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s47 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s4 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s45 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #FF0000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s5 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s17 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s46 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s25 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s27 {
  border-bottom: 1px DASHED #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 1px 0px 1px;
}

.ritz .waffle .doc_22_s39 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s28 {
  border-bottom: 1px DASHED #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s36 {
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s0 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  direction: ltr;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s10 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s31 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 14pt;
  vertical-align: bottom;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s15 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s43 {
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s20 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s8 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s26 {
  border-bottom: 1px DASHED #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s29 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s7 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s34 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s6 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s2 {
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s44 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s21 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s3 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s13 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s22 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s40 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s41 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: bottom;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_22_s9 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}
