.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .doc_8th_s8 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s67 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s42 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s38 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s63 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s10 {
  border-right: 1px SOLID #ffffff;
  background-color: #ccffcc;
  text-align: left;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s24 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s48 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s2 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s3 {
  border-right	: 1px SOLID #000000;
  border-left	: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s52 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s11 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s26 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s53 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s51 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s9 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
  color: #000000;
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s13 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s65 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-left: none;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s30 {
  border-right: 1px SOLID #ffffff;
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s14 {
  border-bottom: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  background-color: #ccffcc;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s29 {
  border-right: 1px SOLID #ffffff;
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s55 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #1155cc;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s23 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s44 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s56 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s56_1 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 6pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s28 {
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s59 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s59_1 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s16 {
  background-color: #e9ecef;
  text-align: center;
  font-size: 7pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s35 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s45 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s17 {
  background-color: #e9ecef;
  border-bottom: 1px SOLID #000000;
  text-align: left;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s43 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s22 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-top: 1px SOLID #000000;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s31 {
  border-bottom: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s12 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s54 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s32 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s25 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s21 {
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: top;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s37 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px DASHED #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s4 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #1155cc;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s7 {
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s41 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s50 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ead1dc;
  text-align: center;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s18 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s27 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s39 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s60 {
  border-right: 1px SOLID #000000;
  border-bottom: 1px SOLID #e9ecef;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s2 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-top: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 12pt;
  vertical-align: bottom;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s15 {
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s19 {
  border-left: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: left;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s64 {
  border-bottom: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s6 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s34 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s20 {
  border-right: 1px SOLID #ffffff;
  border-left: 1px SOLID #e9ecef;
  border-bottom: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s47 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s33 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s36 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px DASHED #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s40 {
  border-bottom: 1px SOLID #ffffff;
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #0000ff;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s57 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s57_1 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 6pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s46 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s1 {
  border-top: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s66 {
  border-left: 1px SOLID #ffffff;
  border-right: 1px SOLID #ffffff;
  border-bottom: 1px SOLID #ffffff;
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s61 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s49 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s62 {
  border: 1px SOLID #ffffff;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s58 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_8th_s58_1 {
  border-bottom: 1px DASHED #000000;
  border-right: 1px SOLID #000000;
  background-color: #e9ecef;
  text-align: center;
  color: #000000;
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.severance_pay_mutual_aid {
  border: 2px solid #000000;
  border-radius: 11px;
  padding: 2px;
}

.doc_8_sheet {
	/* 用紙サイズ A3 */
	width: 420mm;
	// height: 420mm; 余白調整のためコメントアウト
	size: A3 landscape;
}
