.ritz .waffle a {
  color: inherit;
}

.ritz .waffle .doc_23_s24 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s57 {
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s12 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s16 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s40 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s39 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s54 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s33 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s36 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s48 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s43 {
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s43_edit {
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s59 {
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s50 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s13 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s2 {
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 24pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s28 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s18 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s32 {
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s38 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s27 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s27_edit {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s23 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s22 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s10 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s21 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  border-left: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s17 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s34 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'docs-Calibri', Arial;
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s3 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s52 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s11 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s6 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: top;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s6_ {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s29 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s29_edit {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 5px 3px 0px 3px;
}

.ritz .waffle .doc_23_s49 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s46 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s46_edit {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: ledt;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 5px 3px 0px 3px;
}

.ritz .waffle .doc_23_s15 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s1 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s26 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s30 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s35 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
}

.ritz .waffle .doc_23_s19 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: right;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
  writing-mode: vertical-rl;
}

.ritz .waffle .doc_23_s0 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s53 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s4 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s25 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
  writing-mode: vertical-rl;
}

.ritz .waffle .doc_23_s31 {
  border-right: 1px SOLID #000000;
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'docs-Roboto', Arial;
  font-size: 11pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 5px 3px 5px 3px;
}

.ritz .waffle .doc_23_s56 {
  border-right: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s58 {
  border-left: none;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s5 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s9 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s20 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: top;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
  writing-mode: vertical-rl;
}

.ritz .waffle .doc_23_s42 {
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s14 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s51 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 7pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s37 {
  border-right: 1px SOLID #000000;
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 5px 3px 5px 3px;
}

.ritz .waffle .doc_23_s47 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  text-align: center;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s41 {
  border-bottom: 1px SOLID #000000;
  background-color: #ffffff;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: top;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
  writing-mode: vertical-rl;
}

.ritz .waffle .doc_23_s7 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 10pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s44 {
  border-bottom: 1px SOLID #000000;
  border-right: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: left;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: normal;
  overflow: hidden;
  word-wrap: break-word;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s55 {
  background-color: #ffffff;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 9pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s45 {
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s45_edit {
  background-color: #ccffcc;
  text-align: left;
  color: #000000;
  font-family: 'Arial';
  font-size: 8pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px;
}

.ritz .waffle .doc_23_s8 {
  border-bottom: 1px SOLID #000000;
  background-color: #ccffcc;
  text-align: center;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: 'Arial';
  font-size: 12pt;
  vertical-align: middle;
  white-space: nowrap;
  direction: ltr;
  padding: 0px 3px 0px 3px; 
}

label{
  margin-right: 0rem !important;
  margin-bottom: 0rem;
}

.error_msg{
  color: red;
  font-weight: bold;
}