.logo-item {
  color: #14ad5e;
  vertical-align: bottom;
  span {
    margin-left: -12px;
  }
}

.logo-item-side {
  color: #14ad5e;
  vertical-align: bottom;
  font-size: 10px;
  margin-top: 16px;
  span {
    margin-left: -12px;
  }
}

.logo-item-law {
  color: #14ad5e;
  vertical-align: bottom;
  span {
    margin-left: -14px;
  }
}

@media screen and (max-width: 959px) {
	.logo-item-law {
    color: #14ad5e;
    vertical-align: bottom;
    font-size: 10px;
    span {
      margin-left: -7px;
    }
  }
}

.brand-link {
  text-decoration: none;
}

.first-request-orders {
  background-color: rgba(0,0,0,.05);
}

.second_request_orders {
  margin-left: 50px;
}

.third_request_orders {
    margin-left: 100px;
}

.forth_request_orders {
  margin-left: 150px;

}

label[id$="-error"] {
  color: red;
  font-weight: normal !important;
  text-indent: 1rem
}

.rounded {
  font-size: 0.8rem;
  width: 2rem;
}

.p-1 {
  padding: 0.1rem !important;
}

.mb-2 {
  padding: 0.1rem !important;
}

label {
  margin-right: 2rem;
}

.business-panel {
  font-size: 19px;
  padding-left: 10px;
  color: #C2C7D0;
}

.user-name {
  padding-left: 10px;
}

.non-slide-link-menu {
  padding-left: 20px;
  padding-top: 10px;
}

.field_with_errors {
  border: 1px solid red;
}

.error-message {
  color: red;
  font-size: 12px;
}

.radio-spacing {
  margin-right: 10px;
}
