<!-- (5)全建統一様式第1号－甲(再下請負通知書(変更届)) -->
<div style="overflow: auto;">
  <% unless document_info.class == Order %>
    <% if document_info.leaf? %>
      <%= render "users/documents/doc_5th/subcon_edit" %>
    <% else %>
      <% document_info.children.each do |child| @child = child %>
        <%= render "users/documents/doc_5th/subcon_edit" %>
      <% end %>
    <% end %>
  <% end %>
</div>
