<!-- (19)全建統一様式第6号(工事安全衛生計画書) -->
<div id="doc_19" style="overflow: auto;">
  <section class="doc_19_sheet">
    <div class="ritz grid-container" dir="ltr">
      <table class="waffle" cellspacing="0" cellpadding="0">
        <tbody>
          <tr style="height: 24px">
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s1" dir="ltr"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="8" rowspan="2">全建統一様式第６号</td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s6" dir="ltr" colspan="2" rowspan="2">元 請<br> 確認欄</td>
            <td class="doc_19_s7" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=2086280139">「元請会社の確認欄」19-001</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">事業所の名称</td>
            <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1915910623">「事業所名（現場名）」19-002</a></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s8" dir="ltr" colspan="3" rowspan="2">会 社 名</td>
            <td class="doc_19_s9" dir="ltr" colspan="10" rowspan="2"><a target="_blank" href="#rangeid=18844400">「会社名」19-004</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr" colspan="4" rowspan="2">所長名</td>
            <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2"><a target="_blank" href="#rangeid=1214881273">「各会社の現場代理人名」19-003</a></td>
            <td class="doc_19_s10" dir="ltr" rowspan="2">殿</td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr" colspan="3">現場代理人</td>
            <td class="doc_19_s9" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U322">「各会社の現場代理人名」19-005</a></td>
            <td class="doc_19_s11" dir="ltr" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U52">㊞<br>19-006</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0" dir="ltr" colspan="3">（現場責任者）</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s12" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s0" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s12" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s8" dir="ltr"></td>
            <td class="doc_19_s9" dir="ltr" colspan="8" rowspan="2"><a target="_blank" href="#rangeid=324670978">「書類作成日（西暦）」19-007</a></td>
            <td class="doc_19_s8" dir="ltr" colspan="2" rowspan="2">作成</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s0"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s13" dir="ltr"></td>
            <td class="doc_19_s13" dir="ltr" colspan="40" rowspan="2">工 事 安 全 衛 生 計 画 書</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s13" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生方針</td>
            <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2"><a target="_blank" href="#rangeid=1047036298">「工事安全衛生方針」19-008</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工事安全衛生目標</td>
            <td class="doc_19_s14" dir="ltr" colspan="33" rowspan="2"><a target="_blank" href="#rangeid=185682563">「工事安全衛生目標」19-009</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="7" rowspan="2">工　　種</td>
            <td class="doc_19_s6" dir="ltr" colspan="24">工 種 別 工 事 期 間</td>
            <td class="doc_19_s6" dir="ltr" colspan="9" rowspan="2">日常の安全衛生活動</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-010</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-011</a></td>
            <td class="doc_19_s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-012</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-013</a></td>
            <td class="doc_19_s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-014</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-015</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7"><a target="_blank" href="#rangeid=1953804282">「工種」19-016</a></td>
            <td class="doc_19_s19" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-017</a></td>
            <td class="doc_19_s19" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-018</a></td>
            <td class="doc_19_s19" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-019</a></td>
            <td class="doc_19_s20" dir="ltr" colspan="9"><a target="_blank" href="#rangeid=1349486237">「日常の安全衛生活動」19-020</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s21" dir="ltr" colspan="7"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s23" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s21" dir="ltr" colspan="7"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s23" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s21" dir="ltr" colspan="7"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s23" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s21" dir="ltr" colspan="7"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s22" colspan="8"></td>
            <td class="doc_19_s23" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s24" dir="ltr" colspan="31">資機材・保護具・資格の区分／その種類</td>
            <td class="doc_19_s23" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機械設備</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=1414293760">「主な使用機械設備」19-021</a></td>
            <td class="doc_19_s30" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用機器・工具</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=288675393">「主な使用機器・工具」19-022</a></td>
            <td class="doc_19_s30" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">主な使用資材枠</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=1913528388">「主な使用資材枠」19-023</a></td>
            <td class="doc_19_s30" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">使用保護具</td>
            <td class="doc_19_s28"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=760036759">「使用保護具」19-024</a></td>
            <td class="doc_19_s30" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5"></td>
            <td class="doc_19_s1"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">有資格者・配置予定者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=954296829">「有資格者・配置予定者」19-025</a></td>
            <td class="doc_19_s22" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s15" dir="ltr"></td>
            <td class="doc_19_s24" dir="ltr" colspan="16">１．危険性又は有害性の特定</td>
            <td class="doc_19_s24" dir="ltr" colspan="8">２．リスクの見積り</td>
            <td class="doc_19_s24" dir="ltr" colspan="16">３．リスク低減措置内容の検討</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" colspan="7" rowspan="2">作業区分</td>
            <td class="doc_19_s31" dir="ltr" colspan="9" rowspan="2">予測される災害（危険性又は有害性）</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">可能性<br> (度合)</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">重大性<br> (重篤度)</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">見積り</td>
            <td class="doc_19_s31" dir="ltr" colspan="2" rowspan="2">リスク<br> レベル</td>
            <td class="doc_19_s31" dir="ltr" colspan="16" rowspan="2">リスク低減措置</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s18" dir="ltr" colspan="7" rowspan="4"><a target="_blank" href="#rangeid=1278179573">「作業区分」19-026</a></td>
            <td class="doc_19_s32" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1592800442">「予測される災害（危険性又は有害性）」19-027</a></td>
            <td class="doc_19_s33" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=83173426">「可能性 (度合)」19-028</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1753288011">「重大性 (重篤度)」19-029</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1354691058">「見積り」19-030</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1233970442">「リスクレベル」19-031</a></td>
            <td class="doc_19_s18" dir="ltr" colspan="16" rowspan="2"><a target="_blank" href="#rangeid=695401785">「リスク低減措置」19-032</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s35" dir="ltr" colspan="7" rowspan="6"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s35" dir="ltr" colspan="7" rowspan="8"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="2"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="2"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s34" dir="ltr" colspan="9" rowspan="4"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s35" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s36" dir="ltr" colspan="2" rowspan="4"></td>
            <td class="doc_19_s34" dir="ltr" colspan="16" rowspan="4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s5" dir="ltr"></td>
            <td class="doc_19_s6" dir="ltr" colspan="8">職 名</td>
            <td class="doc_19_s6" dir="ltr" colspan="10">氏 名</td>
            <td class="doc_19_s5"></td>
            <td class="doc_19_s6" dir="ltr" colspan="21">再下請会社の関係者の職名・氏名・会社名等</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" rowspan="3">店<br>社</td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生担当責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=1661554588">「各会社の安全衛生担当責任者名」19-033</a></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s31" dir="ltr" colspan="5">職 名</td>
            <td class="doc_19_s31" dir="ltr" colspan="5">氏 名</td>
            <td class="doc_19_s31" dir="ltr" colspan="11">再 下 請 会 社 名</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">工事担当責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=589785577">「各会社の工事担当責任者名」19-034</a></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s17" dir="ltr" colspan="5"><a target="_blank" href="#rangeid=334215424">「再下請会社の工事関係者の職名」19-038</a></td>
            <td class="doc_19_s17" dir="ltr" colspan="5"><a target="_blank" href="#rangeid=1506068133">「再下請会社の工事関係者の氏名」19-039</a></td>
            <td class="doc_19_s16" dir="ltr"><a target="_blank" href="#rangeid=150871509">19-<br>040</a></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s7" dir="ltr" colspan="9"><a target="_blank" href="#rangeid=18844400">再下請の「会社名」19-041</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s37" colspan="7"></td>
            <td class="doc_19_s37" colspan="10"></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s21" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s31" dir="ltr" rowspan="4">事<br>業<br>所</td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">現 場 代 理 人</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=1214881273">「各会社の現場代理人名」19-035</a></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s21" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">安全衛生責任者</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=508076839">「各会社の安全衛生責任者名」19-036</a></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s21" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s26"></td>
            <td class="doc_19_s27" dir="ltr" colspan="5">職 長</td>
            <td class="doc_19_s31"></td>
            <td class="doc_19_s29" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=218043475">「各会社の職長名」19-037</a></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s21" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s25" dir="ltr"></td>
            <td class="doc_19_s37" colspan="7"></td>
            <td class="doc_19_s37" colspan="10"></td>
            <td class="doc_19_s15"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s22" colspan="5"></td>
            <td class="doc_19_s38"></td>
            <td class="doc_19_s27" dir="ltr">次</td>
            <td class="doc_19_s21" dir="ltr" colspan="9"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s4"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s40" colspan="10"></td>
            <td class="doc_19_s1" dir="ltr" colspan="20">元請工事業者提出書類一覧</td>
            <td class="doc_19_s24" dir="ltr" colspan="10">注） ▢は、レ点でチェック。</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=645437064">19-053</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">再下請負通知書　</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=996907788">19-054</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">下請業者編成表</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=2093062860">19-055</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">作業員名簿</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=754086377">19-056</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">持込機械等（</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s40"></td>
            <td class="doc_19_s45" dir="ltr" colspan="3"><a target="_blank" href="#rangeid=1250433577">19-042</a></td>
            <td class="doc_19_s27" dir="ltr">）使用届</td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=575863965">19-057</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（移動式クレーン）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1119401808">19-058</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">持込機械等（車両系建設機械）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=126799681">19-059</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電動工具）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=434615144">19-060</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">持込機械等（電気溶接機）使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1104379158">19-061</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">工事用車両届</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1948338713">19-062</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:118px;left:-1px">有機溶剤・特定化学物質等持込使用届</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=368687090">19-063</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">火気使用届</td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-064</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-043</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=690928063">19-065</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">送出し教育実施報告書</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=286656728">19-066</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:88px;left:-1px">新規入場時教育実施報告書</div>
            </td>
            <td class="doc_19_s46" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-067</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-044</a></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-068</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#gid=2130279024&amp;range=U430">19-045</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-069</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s48" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-046</a></td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-070</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-047</a></td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-071</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-048</a></td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-072</a></div>
            </td>
            <td class="doc_19_s27" dir="ltr">（</td>
            <td class="doc_19_s50" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-049</a></td>
            <td class="doc_19_s49" dir="ltr" colspan="3">）作業計画書</td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s39"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1190039228">19-073</a></div>
            </td>
            <td class="doc_19_s43 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:58px;left:-1px">安全衛生計画書</div>
            </td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s44" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s27" dir="ltr"></td>
            <td class="doc_19_s28" dir="ltr"></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-074</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-050</a></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-075</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-051</a></td>
            <td class="doc_19_s41" dir="ltr">▢</td>
            <td class="doc_19_s42 softmerge" dir="ltr">
              <div class="doc_19_softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-076</a></div>
            </td>
            <td class="doc_19_s47" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-052</a></td>
            <td class="doc_19_s2"></td>
          </tr>
          <tr style="height: 24px">
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
            <td class="doc_19_s3"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</div>
