<body>
  <div class="ritz grid-container" dir="ltr">
    <table class="waffle" cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th class="row-header freezebar-origin-ltr"></th>
          <th id="1501135332C0" style="width:30px;" class="column-headers-background">A</th>
          <th id="1501135332C1" style="width:30px;" class="column-headers-background">B</th>
          <th id="1501135332C2" style="width:30px;" class="column-headers-background">C</th>
          <th id="1501135332C3" style="width:30px;" class="column-headers-background">D</th>
          <th id="1501135332C4" style="width:30px;" class="column-headers-background">E</th>
          <th id="1501135332C5" style="width:30px;" class="column-headers-background">F</th>
          <th id="1501135332C6" style="width:30px;" class="column-headers-background">G</th>
          <th id="1501135332C7" style="width:30px;" class="column-headers-background">H</th>
          <th id="1501135332C8" style="width:30px;" class="column-headers-background">I</th>
          <th id="1501135332C9" style="width:30px;" class="column-headers-background">J</th>
          <th id="1501135332C10" style="width:30px;" class="column-headers-background">K</th>
          <th id="1501135332C11" style="width:30px;" class="column-headers-background">L</th>
          <th id="1501135332C12" style="width:30px;" class="column-headers-background">M</th>
          <th id="1501135332C13" style="width:30px;" class="column-headers-background">N</th>
          <th id="1501135332C14" style="width:30px;" class="column-headers-background">O</th>
          <th id="1501135332C15" style="width:30px;" class="column-headers-background">P</th>
          <th id="1501135332C16" style="width:30px;" class="column-headers-background">Q</th>
          <th id="1501135332C17" style="width:30px;" class="column-headers-background">R</th>
          <th id="1501135332C18" style="width:30px;" class="column-headers-background">S</th>
          <th id="1501135332C19" style="width:30px;" class="column-headers-background">T</th>
          <th id="1501135332C20" style="width:30px;" class="column-headers-background">U</th>
          <th id="1501135332C21" style="width:30px;" class="column-headers-background">V</th>
          <th id="1501135332C22" style="width:30px;" class="column-headers-background">W</th>
          <th id="1501135332C23" style="width:30px;" class="column-headers-background">X</th>
          <th id="1501135332C24" style="width:30px;" class="column-headers-background">Y</th>
          <th id="1501135332C25" style="width:30px;" class="column-headers-background">Z</th>
          <th id="1501135332C26" style="width:30px;" class="column-headers-background">AA</th>
          <th id="1501135332C27" style="width:30px;" class="column-headers-background">AB</th>
          <th id="1501135332C28" style="width:30px;" class="column-headers-background">AC</th>
          <th id="1501135332C29" style="width:30px;" class="column-headers-background">AD</th>
          <th id="1501135332C30" style="width:30px;" class="column-headers-background">AE</th>
          <th id="1501135332C31" style="width:30px;" class="column-headers-background">AF</th>
          <th id="1501135332C32" style="width:30px;" class="column-headers-background">AG</th>
          <th id="1501135332C33" style="width:30px;" class="column-headers-background">AH</th>
          <th id="1501135332C34" style="width:30px;" class="column-headers-background">AI</th>
          <th id="1501135332C35" style="width:30px;" class="column-headers-background">AJ</th>
          <th id="1501135332C36" style="width:30px;" class="column-headers-background">AK</th>
          <th id="1501135332C37" style="width:30px;" class="column-headers-background">AL</th>
          <th id="1501135332C38" style="width:30px;" class="column-headers-background">AM</th>
          <th id="1501135332C39" style="width:30px;" class="column-headers-background">AN</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 24px">
          <th id="1501135332R0" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">1</div>
          </th>
          <td class="s0" dir="ltr" colspan="8" rowspan="2">全建統一様式第６号</td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s2"></td>
          <td class="s1"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3"></td>
          <td class="s4"></td>
          <td class="s0" dir="ltr" colspan="2" rowspan="2">元 請<br> 確認欄</td>
          <td class="s5" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=2086280139">「元請会社の確認欄」19-001</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R1" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">2</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3"></td>
          <td class="s4"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R2" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">3</div>
          </th>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s1"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R3" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">4</div>
          </th>
          <td class="s6" dir="ltr" colspan="4" rowspan="2">事業所の名称</td>
          <td class="s7" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1915910623">「事業所名（現場名）」19-002</a></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s6" dir="ltr" colspan="3" rowspan="2">会 社 名</td>
          <td class="s7" dir="ltr" colspan="10" rowspan="2"><a target="_blank" href="#rangeid=18844400">「会社名」19-004</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R4" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">5</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s1"></td>
          <td class="s2" dir="ltr"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R5" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">6</div>
          </th>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R6" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">7</div>
          </th>
          <td class="s6" dir="ltr" colspan="4" rowspan="2">所長名</td>
          <td class="s7" dir="ltr" colspan="8" rowspan="2"><a target="_blank" href="#rangeid=1214881273">「各会社の現場代理人名」19-003</a></td>
          <td class="s8" dir="ltr" rowspan="2">殿</td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3" dir="ltr" colspan="3">現場代理人</td>
          <td class="s7" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U322">「各会社の現場代理人名」19-005</a></td>
          <td class="s9" dir="ltr" rowspan="2"><a target="_blank" href="#gid=2130279024&amp;range=U52">㊞<br>19-006</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R7" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">8</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3" dir="ltr" colspan="3">（現場責任者）</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R8" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">9</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s10" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
          <td class="s3" dir="ltr"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R9" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">10</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s10" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s6" dir="ltr"></td>
          <td class="s7" dir="ltr" colspan="8" rowspan="2"><a target="_blank" href="#rangeid=324670978">「書類作成日（西暦）」19-007</a></td>
          <td class="s6" dir="ltr" colspan="2" rowspan="2">作成</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R10" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">11</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s1"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s1"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s3"></td>
          <td class="s3"></td>
          <td class="s3"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R11" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">12</div>
          </th>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
          <td class="s2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R12" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">13</div>
          </th>
          <td class="s11" dir="ltr" colspan="40" rowspan="2">工 事 安 全 衛 生 計 画 書</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R13" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">14</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R14" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">15</div>
          </th>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R15" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">16</div>
          </th>
          <td class="s0" dir="ltr" colspan="7" rowspan="2">工事安全衛生方針</td>
          <td class="s13" dir="ltr" colspan="33" rowspan="2"><a target="_blank" href="#rangeid=1047036298">「工事安全衛生方針」19-008</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R16" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">17</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R17" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">18</div>
          </th>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R18" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">19</div>
          </th>
          <td class="s0" dir="ltr" colspan="7" rowspan="2">工事安全衛生目標</td>
          <td class="s13" dir="ltr" colspan="33" rowspan="2"><a target="_blank" href="#rangeid=185682563">「工事安全衛生目標」19-009</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R19" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">20</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R20" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">21</div>
          </th>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R21" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">22</div>
          </th>
          <td class="s14" dir="ltr" colspan="7" rowspan="2">工 種</td>
          <td class="s0" dir="ltr" colspan="24">工 種 別 工 事 期 間</td>
          <td class="s0" dir="ltr" colspan="9" rowspan="2">日常の安全衛生活動</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R22" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">23</div>
          </th>
          <td class="s15" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-010</a></td>
          <td class="s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-011</a></td>
          <td class="s15" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-012</a></td>
          <td class="s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-013</a></td>
          <td class="s15" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=1156549270">「工種別工事期間（月）」19-014</a></td>
          <td class="s16" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=248091639">「工種別工事期間（週）」19-015</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R23" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">24</div>
          </th>
          <td class="s17" dir="ltr" colspan="7"><a target="_blank" href="#rangeid=1953804282">「工種」19-016</a></td>
          <td class="s18" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-017</a></td>
          <td class="s18" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-018</a></td>
          <td class="s18" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=366150222">「工種別工事期間　↔で期間を表す」19-019</a></td>
          <td class="s19" dir="ltr" colspan="9"><a target="_blank" href="#rangeid=1349486237">「日常の安全衛生活動」19-020</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R24" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">25</div>
          </th>
          <td class="s20" dir="ltr" colspan="7"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s22" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R25" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">26</div>
          </th>
          <td class="s20" dir="ltr" colspan="7"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s22" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R26" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">27</div>
          </th>
          <td class="s20" dir="ltr" colspan="7"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s22" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R27" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">28</div>
          </th>
          <td class="s20" dir="ltr" colspan="7"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s21" colspan="8"></td>
          <td class="s22" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R28" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">29</div>
          </th>
          <td class="s14" dir="ltr" colspan="31">資機材・保護具・資格の区分／その種類</td>
          <td class="s22" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R29" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">30</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">主な使用機械設備</td>
          <td class="s25"></td>
          <td class="s26" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=1414293760">「主な使用機械設備」19-021</a></td>
          <td class="s27" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R30" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">31</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">主な使用機器・工具</td>
          <td class="s25"></td>
          <td class="s26" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=288675393">「主な使用機器・工具」19-022</a></td>
          <td class="s27" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R31" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">32</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">主な使用資材枠</td>
          <td class="s25"></td>
          <td class="s26" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=1913528388">「主な使用資材枠」19-023</a></td>
          <td class="s27" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R32" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">33</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">使用保護具</td>
          <td class="s25"></td>
          <td class="s26" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=760036759">「使用保護具」19-024</a></td>
          <td class="s27" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R33" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">34</div>
          </th>
          <td class="s28"></td>
          <td class="s24" dir="ltr" colspan="5">有資格者・配置予定者</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="24"><a target="_blank" href="#rangeid=954296829">「有資格者・配置予定者」19-025</a></td>
          <td class="s21" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R34" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">35</div>
          </th>
          <td class="s14" dir="ltr" colspan="16">１．危険性又は有害性の特定</td>
          <td class="s14" dir="ltr" colspan="8">２．リスクの見積り</td>
          <td class="s14" dir="ltr" colspan="16">３．リスク低減措置内容の検討</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R35" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">36</div>
          </th>
          <td class="s29" dir="ltr" colspan="7" rowspan="2">作業区分</td>
          <td class="s29" dir="ltr" colspan="9" rowspan="2">予測される災害（危険性又は有害性）</td>
          <td class="s29" dir="ltr" colspan="2" rowspan="2">可能性<br> (度合)</td>
          <td class="s29" dir="ltr" colspan="2" rowspan="2">重大性<br> (重篤度)</td>
          <td class="s29" dir="ltr" colspan="2" rowspan="2">見積り</td>
          <td class="s29" dir="ltr" colspan="2" rowspan="2">リスク<br> レベル</td>
          <td class="s29" dir="ltr" colspan="16" rowspan="2">リスク低減措置</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R36" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">37</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R37" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">38</div>
          </th>
          <td class="s17" dir="ltr" colspan="7" rowspan="4"><a target="_blank" href="#rangeid=1278179573">「作業区分」19-026</a></td>
          <td class="s30" dir="ltr" colspan="9" rowspan="2"><a target="_blank" href="#rangeid=1592800442">「予測される災害（危険性又は有害性）」19-027</a></td>
          <td class="s31" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=83173426">「可能性 (度合)」19-028</a></td>
          <td class="s16" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1753288011">「重大性 (重篤度)」19-029</a></td>
          <td class="s16" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1354691058">「見積り」19-030</a></td>
          <td class="s16" dir="ltr" colspan="2" rowspan="2"><a target="_blank" href="#rangeid=1233970442">「リスクレベル」19-031</a></td>
          <td class="s17" dir="ltr" colspan="16" rowspan="2"><a target="_blank" href="#rangeid=695401785">「リスク低減措置」19-032</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R38" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">39</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R39" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">40</div>
          </th>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R40" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">41</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R41" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">42</div>
          </th>
          <td class="s33" dir="ltr" colspan="7" rowspan="6"></td>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R42" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">43</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R43" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">44</div>
          </th>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R44" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">45</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R45" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">46</div>
          </th>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R46" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">47</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R47" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">48</div>
          </th>
          <td class="s33" dir="ltr" colspan="7" rowspan="8"></td>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R48" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">49</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R49" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">50</div>
          </th>
          <td class="s32" dir="ltr" colspan="9" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="2"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="2"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R50" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">51</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R51" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">52</div>
          </th>
          <td class="s32" dir="ltr" colspan="9" rowspan="4"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="4"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="4"></td>
          <td class="s33" dir="ltr" colspan="2" rowspan="4"></td>
          <td class="s34" dir="ltr" colspan="2" rowspan="4"></td>
          <td class="s32" dir="ltr" colspan="16" rowspan="4"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R52" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">53</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R53" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">54</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R54" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">55</div>
          </th>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R55" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">56</div>
          </th>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s2"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R56" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">57</div>
          </th>
          <td class="s0" dir="ltr" colspan="8">職 名</td>
          <td class="s0" dir="ltr" colspan="10">氏 名</td>
          <td class="s4"></td>
          <td class="s0" dir="ltr" colspan="21">再下請会社の関係者の職名・氏名・会社名等</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R57" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">58</div>
          </th>
          <td class="s29" dir="ltr" rowspan="3">店<br>社</td>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">安全衛生担当責任者</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=1661554588">「各会社の安全衛生担当責任者名」19-033</a></td>
          <td class="s35"></td>
          <td class="s29" dir="ltr" colspan="5">職 名</td>
          <td class="s29" dir="ltr" colspan="5">氏 名</td>
          <td class="s29" dir="ltr" colspan="11">再 下 請 会 社 名</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R58" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">59</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">工事担当責任者</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=589785577">「各会社の工事担当責任者名」19-034</a></td>
          <td class="s35"></td>
          <td class="s16" dir="ltr" colspan="5"><a target="_blank" href="#rangeid=334215424">「再下請会社の工事関係者の職名」19-038</a></td>
          <td class="s16" dir="ltr" colspan="5"><a target="_blank" href="#rangeid=1506068133">「再下請会社の工事関係者の氏名」19-039</a></td>
          <td class="s15" dir="ltr"><a target="_blank" href="#rangeid=150871509">19-<br>040</a></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s5" dir="ltr" colspan="9"><a target="_blank" href="#rangeid=18844400">再下請の「会社名」19-041</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R59" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">60</div>
          </th>
          <td class="s36" colspan="7"></td>
          <td class="s36" colspan="10"></td>
          <td class="s35"></td>
          <td class="s21" colspan="5"></td>
          <td class="s21" colspan="5"></td>
          <td class="s37"></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s20" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R60" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">61</div>
          </th>
          <td class="s29" dir="ltr" rowspan="4">事<br>業<br>所</td>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">現 場 代 理 人</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=1214881273">「各会社の現場代理人名」19-035</a></td>
          <td class="s35"></td>
          <td class="s21" colspan="5"></td>
          <td class="s21" colspan="5"></td>
          <td class="s37"></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s20" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R61" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">62</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">安全衛生責任者</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=508076839">「各会社の安全衛生責任者名」19-036</a></td>
          <td class="s35"></td>
          <td class="s21" colspan="5"></td>
          <td class="s21" colspan="5"></td>
          <td class="s37"></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s20" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R62" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">63</div>
          </th>
          <td class="s23"></td>
          <td class="s24" dir="ltr" colspan="5">職 長</td>
          <td class="s29"></td>
          <td class="s26" dir="ltr" colspan="10"><a target="_blank" href="#rangeid=218043475">「各会社の職長名」19-037</a></td>
          <td class="s35"></td>
          <td class="s21" colspan="5"></td>
          <td class="s21" colspan="5"></td>
          <td class="s37"></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s20" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R63" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">64</div>
          </th>
          <td class="s36" colspan="7"></td>
          <td class="s36" colspan="10"></td>
          <td class="s35"></td>
          <td class="s21" colspan="5"></td>
          <td class="s21" colspan="5"></td>
          <td class="s37"></td>
          <td class="s24" dir="ltr">次</td>
          <td class="s20" dir="ltr" colspan="9"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R64" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">65</div>
          </th>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
          <td class="s12"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R65" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">66</div>
          </th>
          <td class="s38" colspan="10"></td>
          <td class="s28" dir="ltr" colspan="20">元請工事業者提出書類一覧</td>
          <td class="s14" dir="ltr" colspan="10">注） ▢は、レ点でチェック。</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R66" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">67</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=645437064">19-053</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:58px;left:-1px">再下請負通知書　</div>
          </td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=996907788">19-054</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:58px;left:-1px">下請業者編成表</div>
          </td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=2093062860">19-055</a></div>
          </td>
          <td class="s24" dir="ltr">作業員名簿</td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=754086377">19-056</a></div>
          </td>
          <td class="s24" dir="ltr">持込機械等（</td>
          <td class="s24" dir="ltr"></td>
          <td class="s38"></td>
          <td class="s43" dir="ltr" colspan="3"><a target="_blank" href="#rangeid=1250433577">19-042</a></td>
          <td class="s24" dir="ltr">）使用届</td>
          <td class="s24" dir="ltr"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R67" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">68</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=575863965">19-057</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:118px;left:-1px">持込機械等（移動式クレーン）使用届</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1119401808">19-058</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:118px;left:-1px">持込機械等（車両系建設機械）使用届</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=126799681">19-059</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:88px;left:-1px">持込機械等（電動工具）使用届</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=434615144">19-060</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:88px;left:-1px">持込機械等（電気溶接機）使用届</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R68" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">69</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1104379158">19-061</a></div>
          </td>
          <td class="s24" dir="ltr">工事用車両届</td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1948338713">19-062</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:118px;left:-1px">有機溶剤・特定化学物質等持込使用届</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=368687090">19-063</a></div>
          </td>
          <td class="s24" dir="ltr">火気使用届</td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-064</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-043</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R69" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">70</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=690928063">19-065</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:58px;left:-1px">送出し教育実施報告書</div>
          </td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=286656728">19-066</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:88px;left:-1px">新規入場時教育実施報告書</div>
          </td>
          <td class="s44" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-067</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-044</a></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-068</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#gid=2130279024&amp;range=U430">19-045</a></td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R70" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">71</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-069</a></div>
          </td>
          <td class="s24" dir="ltr">（</td>
          <td class="s46" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-046</a></td>
          <td class="s47" dir="ltr" colspan="3">）作業計画書</td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-070</a></div>
          </td>
          <td class="s24" dir="ltr">（</td>
          <td class="s48" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-047</a></td>
          <td class="s47" dir="ltr" colspan="3">）作業計画書</td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-071</a></div>
          </td>
          <td class="s24" dir="ltr">（</td>
          <td class="s48" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-048</a></td>
          <td class="s47" dir="ltr" colspan="3">）作業計画書</td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1022531390">19-072</a></div>
          </td>
          <td class="s24" dir="ltr">（</td>
          <td class="s48" dir="ltr" colspan="4"><a target="_blank" href="#rangeid=536090194">19-049</a></td>
          <td class="s49" dir="ltr" colspan="3">）作業計画書</td>
        </tr>
        <tr style="height: 24px">
          <th id="1501135332R71" style="height: 24px;" class="row-headers-background">
            <div class="row-header-wrapper" style="line-height: 24px">72</div>
          </th>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=1190039228">19-073</a></div>
          </td>
          <td class="s41 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:58px;left:-1px">安全衛生計画書</div>
          </td>
          <td class="s42" dir="ltr"></td>
          <td class="s42" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s24" dir="ltr"></td>
          <td class="s25" dir="ltr"></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-074</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-050</a></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-075</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-051</a></td>
          <td class="s39" dir="ltr">▢</td>
          <td class="s40 softmerge" dir="ltr">
            <div class="softmerge-inner" style="width:29px;left:-3px"><a target="_blank" href="#rangeid=846740937">19-076</a></div>
          </td>
          <td class="s45" dir="ltr" colspan="8"><a target="_blank" href="#rangeid=677126379">19-052</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


<style>
  .ritz .waffle a {
    color: inherit;
  }

  .ritz .waffle .s45 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s0 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s35 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s2 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s47 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s20 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s29 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s37 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s46 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s25 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s26 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s27 {
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s11 {
    background-color: #ffffff;
    text-align: center;
    font-weight: bold;
    color: #000000;
    font-family: 'Arial';
    font-size: 24pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s13 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s10 {
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s5 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s31 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s30 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s32 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s38 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s16 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 8pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s34 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s22 {
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s14 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s49 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: right;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s7 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s4 {
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s28 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s44 {
    border-left: none;
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s3 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s42 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s21 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s36 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s39 {
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s41 {
    border-right: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s48 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s15 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 8pt;
    vertical-align: middle;
    white-space: normal;
    overflow: hidden;
    word-wrap: break-word;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s23 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s1 {
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s9 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s40 {
    border-left: none;
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 8pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s12 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s24 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: left;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s19 {
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: left;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s33 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s6 {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s43 {
    border-bottom: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s8 {
    border-bottom: 1px SOLID #000000;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    font-family: 'Arial';
    font-size: 11pt;
    vertical-align: bottom;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s18 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'docs-Calibri', Arial;
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }

  .ritz .waffle .s17 {
    border-bottom: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    background-color: #ccffcc;
    text-align: center;
    text-decoration: underline;
    -webkit-text-decoration-skip: none;
    text-decoration-skip-ink: none;
    color: #1155cc;
    font-family: 'Arial';
    font-size: 9pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 0px 3px 0px 3px;
  }
</style>